 
.boxx {
  width:auto;height:inherit; 
  position: relative;
 
  background: ;
  background-image:url('graphics/bg.png');
background-repeat:no-repeat;
 
 margin:0 auto 0 auto;padding-bottom:59px;
 
min-height:290px;
}

.ribbonss {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbonss span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform:  ;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #305d5a;
  background: linear-gradient(#305d5a 0%, #4FEEFF  100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbonss span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #305d5a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #305d5a;
}
.ribbonss span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #305d5a;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #305d5a;
}

 
 
 
 

.mybox {
  width: 135px; height:450px;
  position: relative;float:right;margin-right:9px;
  border: 1px solid #BBB;
  background: #;
 
  background-repeat:no-repeat;
  background-position:bottom;
  border-radius:9px;
}
.myribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.myribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform:  ;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.myribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.myribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
#dt{

font-family:Calisto Mt;Color:darkblue;font-size:16px;
font-weight:bold;

}
.user_counter{
background:#d4dfff;
color:darkblue;text-align:center;padding:5px;
border-top:1px solid #dfe3e4;width:inerit;
font-family:Calisto Mt;Color:darkblue;font-size:12px;
}
.user_counter2{
background:#eff1f;padding:3px;

color:darkblue;text-align:center;
border-top:1px solid #dfe3e4;width:inerit;
font-family:Calisto Mt;Color:darkblue;font-size:12px;
}